* {
  margin: 0;
  padding: 0;
}

body {
  height: 100dvh;
  overflow: hidden;
  padding: 20px;
  background-color: #1e1e1e;
  color: hsl(0, 0%, 90%);
  font-family: sans-serif;
  align-items: center;
  justify-content: center;
  display: flex;
}

.chat-container {
  max-width: 400px;
  height: 90%;
  padding: 40px 15px;
  box-sizing: border-box;
  background-color: #393939;
  align-content: end;
  gap: 20px;
  display: grid;
}

.message-list {
  overflow-y: scroll;
  gap: 8px;
  display: grid;
}

.message-list::-webkit-scrollbar {
  display: none;
}

.message {
  width: 80%;
  padding: 5px;
  border: 1px solid #bcbcbc;
  border-radius: 12px;
  gap: 4px;
  display: grid;
}

.message * {
  display: block;
}

.message.user {
  margin-left: auto;
}

.input-form {
  width: 100%;
  gap: 15px;
  display: flex;
}

.input-form input {
  width: 100%;
  padding: 4px;
  color: #bcbcbc;
  background-color: #1e1e1e;
  border: 1px solid #bcbcbc;
  border-radius: 8px;
  font-size: 15px;
}

.input-form button {
  padding: 8px 16px;
  color: #ffffff;
  background-color: #bd4be6;
  font-weight: 600;
  border: none;
  border-radius: 100vw;
}

@media (max-width: 400px) {
  .input-form {
    display: grid;
  }
  body {
    padding: 0;
    font-size: 4.5vw;
  }
  .chat-container {
    width: 100%;
    height: 100%;
  }
}